<div class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <h2 class="footer__title title-h2">CONTACTS</h2>
        <div class="footer__right-inner">
          <ul class="footer__right-list">

          </ul>
          <ul class="footer__right-list">
            <li class="nav-item">
              <h5>201 W 5th Street Suite 1550
                Austin, TX 78701</h5>
            </li>
            <li class="nav-item">
              <a href="tel:+380-93-134-2438">
                <span><b>+380-93-134-2438</b></span>
              </a>
            </li>
            <li class="nav-item">
              Toll free:
              866-687-3588
            </li>
          </ul>
        </div>
        <div class="footer-end">
          <h6>© Copyright 2020 SoftServe</h6>
        </div>
      </div>

      <div class="footer__right">
        <h2 class="footer__title title-h2">HOT LINKS</h2>
        <div class="footer__right-inner">
          <ul class="footer__right-list">
            <li class="nav-item">
              <a class="nav-link active" [routerLink]="['/home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active">Events</a>
            </li>
          </ul>
          <ul class="footer__right-list">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/location']" routerLinkActive="active">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/contacts']" routerLinkActive="active">Contacts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="active">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>