<div class="contact-content">
    <div class="container">
        <div class="contact-text"><b>CONTACT US</b></div>
        <div class="contact-is"><b> Fill in the form below and a Fimx representative will contact you directly</b></div>
    </div>

    <button class="number-click">
        <a href="tel:+380-93-134-2438" class="button-number">
            <span><b>+380-93-134-2438</b></span>
        </a>
    </button>
    <div class="contact-forms">
        <div class="forms-1">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="FIRST NAME*">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="LAST NAME*">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="formGroupExampleInput2" placeholder="EMAIL*">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="COMPANY*">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="formGroupExampleInput2" placeholder="PHONE NUMBER*">
                </div>
            </form>
        </div>
        <div class="forms-2">
            <div class="form-group">
                <div class="input-group">
                    <textarea class="form-control" placeholder="WRITE MESSAGE*"></textarea>
                </div>
            </div>
            <button class="contact-btn">SEND MASSEGE</button>
        </div>
    </div>