<div class="container">
    <div class="home-all">
        <div class="home-logo"></div>
        <div class="home-text">
            <h3><b>We are advisors, engineers, and designers solving business challenges with innovative technology
                    solutions
                </b></h3>
        </div>
    </div>
    <div class="home-about">
        <div class="text-title"><b>COMPANY VALUES</b></div>
        <div class="text-all"><b>Our Company Values define who we are. SoftServe values ecosystem is embodied in our
                name. Four values are at the core of SoftServe. <br>"Soft" stands for the main people-oriented values we
                share, as well as the character traits and interpersonal skills that represent how we interact with each
                other and with our clients.</b>
            <button class="about-btn"> <a class="nav-link" [routerLink]="['/about']" routerLinkActive="active"><b>About
                    </b></a>
            </button>
        </div>
    </div>

    <div class="home-events">
        <div class="events-title"><b>EVENTS</b></div>
    </div>
    <button class="events-btn"> <a class="nav-link" [routerLink]="['/events']" routerLinkActive="active"><b>More
            </b></a>
    </button>

    <div class="box-contact">
        <b> WANT TO <br> GET IN <br> TOUCH? </b> <button class="contact-btn"> <a class="nav-link"
                [routerLink]="['/contacts']" routerLinkActive="active"><b>Contact</b></a>
        </button>
    </div>
</div>